.middle-wrapper {
    display: flex;
    flex-direction: column;
}

#main {
    height: 200px;
}

.a1 {
    background-color: rgb(207, 27, 3);
}

.a2 {
   display: flex;
}

h3 {
 font-style: oblique;
 color: aliceblue;
}

.centro {
 
    background-color: rgb(255, 123, 0);
}

.bLateral  {
    background-color: rgb(117, 4, 117);
}

.pie {
   background-color:  blue;
}

@media only screen and (min-width: 600px) {
    .middle-wrapper {
        flex-direction: row;
    }

    .a1 {
        background-color: rgb(3, 207, 3);
    }

    .centro {
        flex-grow: 5;
        background-color: rgb(255, 123, 0);
    }

    #main {
        display: flex;
        height: 400px;
    }

    .bLateral {
        flex-grow: 2;
        background-color: rgb(117, 4, 117);
    }

    .pie {
        background-color:  rgb(255, 38, 0);
     }

}

